*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background: #524D4D;
    /* width: 100%; */

}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-weight: bold; */

}

nav img {
    /* height: 10px; */
    /* width: 200px; */
    padding-top: 20px;
}

.icons {
    font-size: 20px;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;

}

.hideonmobile:hover {
    /* background-color: grey; */
    border-bottom: 4px solid #fbba40;
}

nav a {

    height: 100%;
    /* padding: 0 30px; */
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;

}
nav li:nth-child(2){
    
    border-bottom: 4px solid #fbba40;
}
nav button {
    font-size: 20px;
    /* font-weight: bold; */
    color: #000000;
    background: #FFA500;
    border: 8px solid #FFA500;
    border-radius: 4px;
}

.menu-button {
    display: none;
}

.sidebar li {
    height: 50%;
    width: 100%;
}

.sidebar a {
    /* height: 100%; */
    width: 100%;
}

.sidebar {
    position: fixed;
    padding-left: 20px;
    top: 0;
    right: 0px;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #524D4D;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
/* section1 */
.section1{
    height: 100vh;
    /* width: 100%; */
    background-image: url(/gym\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f0f0f0;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
  
    padding-top:25px;
}
.section1b{
    
    height: 440px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px;
    /* padding-top: 40px; */
    font-size: 20px;
}
.section1b img{
    padding: 20px;
    height: 281px;
    width:280px
    
}
#span1{
    font-size: 60px;
    border-bottom:3px solid  #f0f0f0;
    padding: 20px;
}

.section1b h4{
    /* margin-top: 40px; */
    /* padding-bottom: 20px; */

    padding:15px;
}
#a{
    /* margin-top: 50px; */
    /* text-align: center; */
    /* margin: 20px; */
    padding: 10px;
    border-radius: 35px;
    background-color: #C53B3B;
}
/* section2 */
.section2{
    /* border: 2px solid red; */
    min-height: 100vh;
    /* width: 100vw; */
    background: linear-gradient(to bottom ,rgb(254, 252, 252) 50%,rgb(255, 165, 0,0.34) 50%);
    text-align: center;
    padding-top: 40px;
    
}
.section2a{
    /* width: 1200px; */
    /* height: 450px; */
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    /* border: 2px solid red; */
}
#spanhead{
    font-size: 40px;
    border-bottom:2px solid black;
    font-weight: bold;
}
.section2a h2{
    /* border: 20px solid red; */
    /* margin-top: 10px; */
    padding: 10px 40px;
    width:200px ;
    /* width: 800px; */
    border:2px;
    border-radius: 50px ;
    /* font-weight: bold; */
    background-color: #4D4848;
    font-size: 25px;
    color: #f0f0f0;
    
}
/* section 3 */
.section3 {
    /* border: 2px solid red; */
    position: relative;
    
    /* width: 100vw; */
    /* margin: 20px; */
    /* Other styles for .section3 */
}

.image-container {
    /* border: 60px solid green; */
    /* width: 100vw; */
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section3 img{
    width: 99vw;
    height: 100vh;
}
#btn1,
#btn2 {
    position: absolute;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    color: white;
    font-size: 45px;
}

#btn1 {
    left: 10px; /* Adjust this value for desired left positioning */

}

#btn2 {
    right: 10px; /* Adjust this value for desired right positioning */
}

/* Additional styling for image size */
.image-container img {
    /* max-width: 100%; */
    height: auto;
}


/* footer */

.footer {
    min-height: 40vh;
    /* width: 100vw; */
    display: flex;
    justify-content: space-around;
    background-color: #524D4D;
}

#footerdiv1 {
    padding: 50px;
    font-weight: bold;
    color: #FFA500;
}

#footerdiv2 {
    /* margin: auto; */
    /* border: 2px solid red; */
    margin: 10px;
    padding: 35px;
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;



}

#footerdiv2 li {
    margin: 20px;
    /* text-decoration: none; */
    text-align: left;
    list-style-type: none;
}

#footerdiv2 a {
    /* padding: 100px 10px 20px 40px; */
    /* justify-content: space-around; */
    text-decoration: none;
    color: aliceblue;
}

#footerdiv3 {
    padding: 20px;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
}

#footerdiv3 li {
    display: flex;
    text-align: center;
}

#footerdiv3 button {
    margin: 5px;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 3px;
    border: 2px;
    font-size: 15px;
    font-weight: bold;
    color: #f0f0f0;

}

#ab {
    margin: 0px;
    background: #8D8383;

}

#cd {
    margin: 0px;
    background: #FFA500;

}

#lastsection {
    /* width: 100vw; */
    /* border: 2px solid red; */
    padding: 20px;
    background-color: #FFA500;
    text-align: center;
}
